@import "tailwindcss";
* {
  box-sizing: border-box;
  text-transform: uppercase;
  scrollbar-color: var(--accent);
}
:root {
  --background: #c7c8c9;
  --foreground: #000;
  --accent: #fef11f;
  --scrollbar-track-bg: #a0a1a1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
}

body {
  accent-color: var(--accent);
  caret-color: var(--accent);
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

::selection {
  background-color: var(--accent);
  color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}
